.messageBox {
  border-radius: 12px;
  padding: 8px 12px;
  color: white;
  display: inline-block;
  max-width: 80%;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  min-width: 100px;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 15px;
  word-wrap: break-word;
  margin: 0 0 12px 0;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  padding: 0 5%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: #fff;
}

.backgroundGreen {
  background: #005c4b;
  border-top-right-radius: 0;
}

.backgroundGray {
  background: #202c33;
  border-top-left-radius: 0;
}

.timestamp {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 4px;
  right: 8px;
}
