.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
  background-image: radial-gradient(circle at center, rgba(255,255,255,0.02) 0%, transparent 100%), linear-gradient(180deg, #0b141a 0%, #0b141a 100%);
}